.menu {
  background: 
  linear-gradient(90deg,#fff 50%,#a3a3a3 0) 100% ,
  linear-gradient(#a3a3a3 0 0) 0% 100%/var(--_p,0%) 100% no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
               transition: .75s;
  }
.menu:hover {  --_p: 100%}
.menu-winery:hover,
.main-home1:hover,
.main-home2:hover,
.video-logo
{cursor:pointer}

  
  .price {
      font-size: 2.25rem; 
      line-height: 2.5rem;
      margin-top:5px;
      margin-bottom: -25px;   
     }
  
  
  .spinner-wrapper {
    position: absolute;
    width:100%;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 1280px;
    z-index: 9999;
  } 
  .spinner,
  .spinner:before,
  .spinner:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
  }
  .spinner {
    color: #87837d;
    font-size: 10px;
    margin: 69px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  margin-right: 150px;
  }
  .spinner:before,
  .spinner:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .spinner:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .spinner:after {
    left: 3.5em;
  }
  @-webkit-keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  @keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
  }
  @-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
  }
  @-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
  }
  @keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
  }
  