#newsletter{
  margin-bottom: 20px!important;
          width: 100%;
      max-width: 1280px;
         margin: 0 auto;
     background: #fff;
       position: relative;
  border-radius: 4px;
        z-index: 0;
        scale:.96;
} #newsletter input {
         height: 38px;
    margin-left: 10%;
          width: 60%;
     box-sizing: border-box; 
  border-radius: 3px;
   border-width: 1px;
   border-style: solid;
   border-color: transparent;
   scale:.94;
 } #newsletter input[type="submit"] {
          color:#fff;
    font-weight: bold;
    font-family: arial, sans-serif;
   border-color:#1c385c;
     box-shadow: inset 0 1px 0 #7fade7;
    text-shadow: 0 -1px #34629f;
     background: linear-gradient(to top, #3e74bb 0, #4887dd 100%);
     margin-top: 10px;
     margin-bottom: 15px;
         cursor: pointer;
}
#newsletter img,
#newsletter label
{display:none}

@media screen and (min-width:480px)
{
  #newsletter img {
        width: 80px;
       height: 80px;
     position: absolute;
          top: 10px;
        right: 40px;
    transform: rotate(8deg);
    display:inline;
  }
  #newsletter form label {
            color: #818181;
          display: block;
        font-size: 16px;
      line-height: 22px;
    margin-bottom: 20px;
  }
  #newsletter form {
    padding:48px 40px 25px;
  }
}

  #newsletter:after,
  #newsletter:before {
    display:block;
    content:"";
    height:5px;
    width:100%;
    top:-20px;
    right:-20px;
    left:-20px;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    background: repeating-linear-gradient(-225deg, #4782ce, #4782ce 12px, #fff 12px, #fff 24px, #ea222e 24px, #ea222e 36px, #fff 36px, #fff 48px);
  }

